<?xml version="1.0"?>

<model>
  <name>line_follower_track</name>
  <version>1.0</version>
  <sdf version='1.7'>model.sdf</sdf>

  <author>
    <name>Ryan Dunwoody</name>
    <email>ryan@pi-top.com</email>
  </author>

  <description>
    A simple blue track for a line following robot.
  </description>
</model>