<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find alex_description)/robots/alex.urdf.xacro'" />

    <!-- send fake joint values -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

    <!-- start joint GUI -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen"/>

    <!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find alex_description)/rviz_config/alex.rviz"/>
</launch>