<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find alex_description)/robots/alex.urdf.xacro'" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find alex_gazebo)/worlds/line_follower.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>

    <node name="alex_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model alex -x $(arg x) -y $(arg y) -z $(arg z)" />

    <rosparam file="$(find alex_description)/config/alex.yaml" command="load"/>

    <!-- load the controllers -->

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/alex"
          args="pan_mechanism_joint_controller tilt_mechanism_joint_controller joint_state_controller --shutdown-timeout 3"/>

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
          respawn="false" output="screen">
        <remap from="/joint_states" to="/alex/joint_states" />
    </node>

</launch>