<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="robot_description"
           command="$(find xacro)/xacro '$(find robotics_configurations)/alex_description/robots/alex.urdf.xacro'" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>

    <node name="alex_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model alex -x $(arg x) -y $(arg y) -z $(arg z)" />

</launch>