<launch>
    <node pkg='chassis'
          type='chassis.py'
          name='Robot_Move_Subscriber_Node'
          output='screen'>
    </node>
<!--    <node pkg='robot_move'
          type='robot_motor_handler.py'
          name='Robot_Motor_Handler_Node'
          output='screen'>
    </node>
-->

</launch>