<launch>
    <rosparam command="load" file="$(find alex_description)/config/hardware_parameters.yaml" />
    <!--<include file="$(find pan_tilt_move)/launch/cmd_vel_sub.launch" />-->
    <include file="$(find chassis_move)/launch/chassis_move.launch" />
    <!--<include file="$(find web_video_server)/launch/web_video_server.launch"-->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    <node name="web_video_server" type="web_video_server" pkg="web_video_server" output="screen" />
    <include file="$(find chassis_odom)/launch/odom_publisher.launch" />
    <include file="$(find cv_camera)/launch/pi-top-camera.launch" />
    <!--<include file="$(find chassis_imu)/launch/imu_publisher.launch" /> NO IMU SDK AVAILABLE YET-->
</launch>
