<launch>
    <rosparam command="load" file="$(find robotics_engine)/hardware_configs/alex.yaml" />
    <include file="$(find chassis_servos)/launch/chassis_servos.launch" />
    <include file="$(find chassis_move)/launch/chassis_move.launch" />
    <!--<include file="$(find web_video_server)/launch/web_video_server.launch"-->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    <node name="web_video_server" type="web_video_server" pkg="web_video_server" output="screen" />
    <include file="$(find chassis_odom)/launch/odom_publisher.launch" />
    <include file="$(find cv_camera)/launch/pi-top-camera.launch" />
    <!--<include file="$(find chassis_imu)/launch/imu_publisher.launch" /> NO IMU SDK AVAILABLE YET-->
</launch>
