<?xml version="1.0"?>

<model>
  <name>pi-top Robotics Kit - Alex Configuration</name>
  <version>1.0</version>
  <sdf version='1.7'>alex.sdf</sdf>

  <author>
    <name>Ryan Dunwoody</name>
    <email>ryan@pi-top.com</email>
  </author>

  <description>
    Alex from pi-top Robotics Kit is a two-wheel drive robot with an IMU and a pan-tilt camera mechanism.
  </description>
</model>